/*Footer CSS*/
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-family: hero;
}
/*Header CSS*/
.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    font-family: hero;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}
.links{
    font-family: 'hero secondary';
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
li{
    margin: 8px;
}
/*Third section CSS - Quote*/
.third{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    
    padding: 36px 72px 36px 72px;
}
.quote{
    font-style: italic;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 36px 0 0 0;
    
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author{
    font-weight: bold;
    display: flex;
    margin: 0 0 12px 0;
    padding-right: 90px;
    justify-content: flex-end;
}
/**/