/*Footer CSS*/
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-family: hero;
}
/*Header CSS*/
.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    font-family: hero;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}
.links{
    font-family: 'hero secondary';
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
li{
    margin: 8px;
}
/*Third section CSS - Quote*/
.third{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    
    padding: 36px 72px 36px 72px;
}
.quote{
    font-style: italic;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 36px 0 0 0;
    
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author{
    font-weight: bold;
    display: flex;
    margin: 0 0 12px 0;
    padding-right: 90px;
    justify-content: flex-end;
}
/*Fourth section - call to action*/
.fourth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px;
    color: white;
    background-color: #3882f6;
    border-radius: 20px;    
}
ul.callToAction{
    display: flex;
    flex-direction: column;
}
.callToAction li{
    margin:0;
}
button{
    color: white;
    background-color: #3882f6;
    display: flex;
    border-radius: 5px;
    margin: 5px 50px 5px 0;
    padding: 8px;
}
/* Second section - random information and image*/
.second{
    display: flex;
    justify-content: center;
}
.square{
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-color: #3882f6;
    border-width: 9px;
    padding: 9px;
    display: flex;
    background-color: white;
}
.text-under{
    text-align: center;
}
.info{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: bolder;
}
/* First section */
.first{
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    
}
.one{
    text-align: left;
}
.rec{
    height: auto;
    width: auto;
    text-align: center;
    padding: 12px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: gray;
}
.mainText{
    font-size: 48px;
    font-weight: bolder;
}